<div class="list-group">
    <div class="list-group-item">
        <div class="media">
            <div class="d-flex position-relative">
                <img src="{{libro.img}}" class="media-object" style="width:300px;padding-right:10px">
                <div>
                    <h4 class="media-heading"><span class="text-danger">{{ libro.titulo | uppercase }}</span> -
                        <span class="text-primary">{{libro.autor}}</span>
                    </h4>
                    <p class="text-sm-justify"> {{libro.descripcion}}</p>
                </div>
                  
            </div>
            <!-- <div class="row"> -->
                <div class="d-grid d-md-flex justify-content-md-end">
                    <button [routerLink]="['/contenido']" class="btn btn-primary">Volver</button>
                </div> 
            <!-- </div>  -->
        </div>   
    </div>
    <p class="d-grid d-md-flex justify-content-md-end">&copy; By A.J.V.R. (2020) </p>
</div>    
