<div class="list-group">
    <div class="list-group-item">
        <div class="media">
            <div class="d-flex position-relative">
                <img src="{{libro.img}}" class="media-object" style="width:300px;padding-right:10px">
                <div>
                    <h4 class="media-heading"><span class="text-danger">{{ libro.titulo | uppercase }}</span> -
                        <span class="text-primary">{{libro.autor}}</span>
                    </h4>
                    <p>
                        {{libro.descripcion}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a [routerLink]="['/contenido']">Volver al listado</a>
</div>